.banner{
  background-image: asset-url('spiningglass.gif');
  height: 100vh;
  background-size: cover;
  background-position: center;
  flex: 0 0 50%;
  position: sticky !important;
  top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    color: #cbd44a;
  }
}
