.flex-column-center-center {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.on-top {
  z-index: 200 !important;
}

.delete{
  font-size: 14px !important;
  &:hover {
    color: red;
  }
}
