// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drink-container{
  display: flex;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background: linear-gradient(to right, #32b79626, #E2E9ED);
  h1 {
    color: #cbd44a;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

.cards{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.banner{
  .btn-transparent {
    margin-bottom: 50px;
  }
}
