<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review It!</h4>
      </div>
      <div class="modal-body">
        <div class="new-form">
          <%= simple_form_for [cocktail, review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, :collection => {'1' => 1, '2' => 2, '3' => 3, '4' => 4, '5' => 5,} %>
            <div class="center">
              <%= f.button :submit, class:"margin-top btn-transparent" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
