<h1>New Review</h1>


<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, :collection => {'1' => 1, '2' => 2, '3' => 3, '4' => 4, '5' => 5,} %>
  <%= f.submit %>
<% end %>
